<nz-list-item>
<nz-list-item-meta
  nzAvatar="http://cdn.onlinewebfonts.com/svg/img_264570.png"
  nzDescription= "DNI : {{ debtor.dni }}"
  style="padding: 0.125rem 0.5rem;"
>
  <nz-list-item-meta-title>
    <div nz-row nzAlign='middle'>
      <div nz-col [nzSpan]="12">
        <span>{{ debtor.name }}</span>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="(debtor.balance | number)!" [nzTitle]="'Balance (S/.)'"></nz-statistic>
      </div>
      <div nz-col [nzSpan]="3">
        <button nz-button  [nzSize]="small" 
          nzShape="circle" nzType="default"
        >
          <i nz-icon nzType="download"></i>
        </button>
      </div>
      <div nz-col [nzSpan]="3">
        <button nz-button [nzSize]="small" nzShape="circle" 
          nzType="default">
          <i nz-icon nzType="download"></i>
        </button>
      </div>
    </div>
  </nz-list-item-meta-title>
</nz-list-item-meta>
</nz-list-item>